.btn {
  font-weight: 500;
  font-size: 0.875rem;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  .material-icons {
    font-size: 18px;
  }
}
.btns-group {
  white-space: nowrap;
  .btn {
    min-width: 36px;
  }
}
